body
{
    font-family:Arial,sans-serif;
    background-color:#97f1d0;
    
}

form{
    padding:10px;
}

input[type=text],input[type=password]{
    width:50%;
    padding:20px,12px,20px,12px;
    margin:8px 0;
}

button {
    width: 50%;
    cursor: pointer;
    margin: 12px 0;
    background-color:#819ab5
}

button:hover{
    opacity:.7;
}

.image{
    text-align:center;
}

#logo{
    border-radius:50%;
}